.root{
    -fx-background-color: burlywood;
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#titles{
    -fx-font: 15px "Serif";
    -fx-text-fill:lightblue;
}
#usr{
    -fx-font: 18px "Serif";
    -fx-text-fill:lightblue;
}
#error{
    -fx-font: 25px "Serif";
    -fx-text-fill:red;
}
#rich-blue {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
#rich-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}
#rich-colored {
    -fx-background-color: 
        lightcoral,
        linear-gradient(lightcoral, lightcoral),
        linear-gradient(lightcoral, lightcoral),
        linear-gradient(lightcoral, lightcoral);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}
#rich-colored Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}